<div class="content">
<h3>{{voting.getTitle()}}</h3>
{{voting.getDescription()}}
<br>
<br>
<b>Options:</b> <br>
<ng-container *ngFor="let votingOption of voting.getOptions(); let i = index">
    {{votingOption.getOptionName()}}
    <ng-container *ngIf="i !== voting.getOptions().length - 1">
        |
    </ng-container>
</ng-container>
<ng-container *ngIf="votingOfficials !== undefined">
    <br><br>
    <b>Voting administrator:</b>: <br>
    {{votingOfficials.getVotingAdministrator()}} <br><br>
    <b>Trustees:</b> <br>
    <ng-container *ngFor="let trusteeName of votingOfficials.getTrustees()">
        {{trusteeName}}<br>
    </ng-container>
</ng-container>

</div>
