.easyVote h3 {
    font-weight: normal;
}

.votingsPanel /deep/ .mat-expansion-panel-body{
    white-space: pre;
}

@media screen and (min-width: 800px) {

    .votingsPanel {
        width: 800px;
        margin: 0 auto;
        text-align: left;
        padding: 0px;
    }

    .innerWrapperDiv {
        padding-left: 24px;
        padding-right: 24px;
    }

    .easyVote /deep/ .mat-divider  {
        width: 800px;
        margin: 0 auto;
    }

    .smartPhoneView {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .outerWrapperDiv {
        width: 100%;
    }

    .innerWrapperDiv {
        padding-left: 24px;
        padding-right: 24px;
        text-align: left;
    }

    .optionDiv {
        display: block;
    }

    .optionDiv /deep/ mat-form-field{
        display: block;
        width: 100%;
    }

    .optionDiv /deep/ .mat-button {
        width: 100%;
    }

    .votingsPanel {
        width: 100%;
    }

    .votingsPanel /deep/ .mat-expansion-panel-body{
        text-align: left;
    }

    .easyVote {
        text-align: left;
    }

    .easyVote h1 {
        padding-left: 24px;
    }
}
