<form style="height: 100%" class="addVoter">
<div class="addVoterDiv">
  <div style="height:50px; width: 100%; background-color: #1f407a; text-align: right">
    <button type="submit" mat-icon-button><mat-icon class="white-icon" (click)="save()">save</mat-icon></button>
  </div>
  <div style="flex: 1; overflow: hidden;">
    <as-split [direction]="'horizontal'" style="overflow: hidden;">
      <as-split-area size="50">
            <!--<form>-->
                <table mat-table [dataSource]="dataSource" style="overflow: auto" class="example-container">
                  <!-- Name Column -->
                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef class="inputColumn">
                      Citizen name
                    </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="inputColumn">
                      <mat-form-field
                              [class.validLine] ="element.getCheckedForValidity() && element.isNameValid()"
                              [class.invalidLine] ="element.getCheckedForValidity() && !element.isNameValid()">
                        <input type="text"
                               matInput
                               placeholder="Voter name"
                               value={{element.getName()}}
                              (input)="onTextInputChange($event, i)">
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <!-- Mail Column -->
                  <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef class="emailColumn">
                      E-Mail
                    </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="emailColumn">
                      <mat-form-field
                              [class.validLine] ="element.getCheckedForValidity() && element.isEmailValid()"
                              [class.invalidLine] ="element.getCheckedForValidity() && !element.isEmailValid()">
                        <input type="text"
                               matInput
                               placeholder="E-Mail"
                               value={{element.getEmail()}}
                               (input)="onEmailInputChange($event, i)">
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <!-- Voting Administrator Column -->
                  <ng-container matColumnDef="Voting_Administrator">
                    <th mat-header-cell *matHeaderCellDef class="roleColumn"> Voting<br>Admin </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="roleColumn">
                      <mat-slide-toggle
                              [checked]="element.getIsVotingAdmin()"
                              (change)="onVotingAdminChange($event, i)">
                      </mat-slide-toggle>
                    </td>
                  </ng-container>

                  <!-- Registrar Column -->
                  <ng-container matColumnDef="Registrar">
                    <th mat-header-cell *matHeaderCellDef class="roleColumn"> Registrar </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="roleColumn">
                      <mat-slide-toggle
                              [checked]="element.getIsRegistrar()"
                              (change)="onRegistrarChange($event, i)"></mat-slide-toggle>
                    </td>
                  </ng-container>

                  <!-- Administrator Column -->
                  <ng-container matColumnDef="Administrator">
                    <th mat-header-cell *matHeaderCellDef class="roleColumn">Admin</th>
                    <td mat-cell *matCellDef="let element, let i = index" class="roleColumn">
                      <mat-slide-toggle
                              [checked]="element.getIsAdmin()"
                              (change)="onAdminChange($event, i)">
                      </mat-slide-toggle>
                    </td>
                  </ng-container>


                  <!-- Delete Column -->
                  <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef class="deleteColumn">
                      <mat-icon class="green-icon" (click)="addVoter()">person_add</mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="deleteColumn">
                      <mat-icon class="red-icon" (click)="deleteVoter(i)">delete</mat-icon>
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            <!--</form>-->
      </as-split-area>
      <as-split-area size="50">
        <ngx-codemirror
                #editor
                [(ngModel)]="content"
                [ngModelOptions]="{standalone: true}"
                [options]="{
            lineNumbers: true,
            theme: 'material codemirror',
            mode: 'markdown',
            gutters: ['breakpoints']
          }"
        ></ngx-codemirror>
      </as-split-area>
    </as-split>
  </div>
  <br>
</div>
</form>
