<h1>Specify custom key</h1>
<p>
  If you want to create your custom key for the voting, you can generate the key locally.<br>
</p>
<p style="color: red; font-weight: bold">
    If you do so, please make sure that you store your private key. If you lose your private key, it cannot be restored.
</p>
<button (click)="generateKey()" mat-button>Generate key pair</button>
<br>
<mat-spinner *ngIf="isGeneratingKey" style="margin:0 auto;"></mat-spinner>


<mat-card *ngIf="publicKey.length!=0" style="display:inline-block">
  <pre style="margin-left: 8px; margin-right: 8px">{{publicKey}}</pre>
</mat-card>
<br>


<mat-expansion-panel style="display:inline-block" *ngIf="privateKey.length!=0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Private key
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>{{privateKey}}</pre>
</mat-expansion-panel>
<br>

<span>
  <button *ngIf="publicKey.length!=0" (click)="savePrivateKey()" mat-button>Download key</button>
  <br>
  <button *ngIf="privateKey.length!=0" (click)="sendPublicKey()" mat-button>Save key and continue</button>
</span>
