<div class="startVotingDiv">
<h3>Please specify the voting end date</h3>
<table>
  <tr>
    <td>
      <div [class.border]="hasFixedEndDate" style="display: inline-block; width: 175px">
      <mat-checkbox [(ngModel)]="hasFixedEndDate">Specify end date</mat-checkbox>
      <br>
      <br>
      <ng-container *ngIf="hasFixedEndDate">
        <mat-select placeholder="HH" style="width: 50px" [(ngModel)]="endHour" [(value)]="endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour" style="width: 50px; min-width: 50px">
            {{hour}}
          </mat-option>
        </mat-select>
        :
        <mat-select placeholder="MM" style="width: 50px" [(ngModel)]="endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute" style="width: 50px; min-width: 50px">
            {{minute}}
          </mat-option>
        </mat-select>
        :
        <mat-select placeholder="SS" style="width: 50px" [(ngModel)]="endSecond">
          <mat-option *ngFor="let second of seconds" [value]="second" style="width: 50px; min-width: 50px">
            {{second}}
          </mat-option>
        </mat-select>
        <br>
        <mat-form-field class="datePicker">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="endDate" width="100px">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-button class="setCurrentTime" (click)="onSetCurrentTime()" >Set current time</button>
        </ng-container>
      </div>
    </td>
    <td>
      <mat-checkbox [(ngModel)]="sendEmailChecked">Notify voters</mat-checkbox>
    </td>
  </tr>
</table>
<br>
<button mat-button (click)="startVoting(2)" style="width: 300px">Start voting</button>
</div>

<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; width: 100vw; height: 100vh; background-color: black; opacity: 0.9; position: fixed; z-index: 200">
</div>
<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: auto; height: 100px; width: 200px; text-align: center; color: white; position: fixed; z-index: 201">
  <p>{{spinnerDescription}}</p>
  <br>
  <mat-spinner style="margin: auto">
  </mat-spinner>
</div>
