.startVotingDiv /deep/ .mat-select-content {
    width: 50px !important;
    background-color: red;
}

.startVotingDiv /deep/ .mat-select-panel {
    min-width: 50px !important;
}

.startVotingDiv /deep/ .datePicker {
    width: 170px !important;
}

.startVotingDiv /deep/ .setCurrentTime {
    width: 170px !important;
}

.startVotingDiv /deep/ .border {
    border: 1px solid black;
}

.startVotingDiv /deep/ td {
    vertical-align: top;
}

.startVotingDiv /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1f407a;
}

