<mat-tab-group (selectedTabChange)="updateEditorView()">
  <mat-tab label="Structure">
    <ngx-json-viewer [json]="jsonObject" [expanded]="false"></ngx-json-viewer>
  </mat-tab>
  <mat-tab label="Raw data (Pretty printed)">
    <ngx-codemirror
            #editorPrettyIndented
            [(ngModel)]="prettyIndentedSummary"
            [ngModelOptions]="{standalone: true}"
            [options]="{
            lineNumbers: true,
            mode: 'application/json'
          }"
    ></ngx-codemirror>
  </mat-tab>
  <mat-tab label="Raw data (Hash origin)">
    <ngx-codemirror
            #editorRawValue
            [(ngModel)]="votingSummary"
            [ngModelOptions]="{standalone: true}"
            [options]="{
            lineNumbers: true,
            mode: 'application/json'
          }"
    ></ngx-codemirror>
  </mat-tab>
</mat-tab-group>
<br>
Ethereum transaction id: <br>
{{votingOverview.getTransactionId()}}<br>
<a href="{{viewTransactionUrl}}" target="_blank">View transaction</a>
<br><br>
SHA-256 Hash:<br>
{{hashOfOverview}}
<br>
<h3>Your participation:</h3>
<div *ngIf="generatedKey" class="green">
  You participated in key generation.<br>
</div>
<div *ngIf="!generatedKey" class="black">
  You did not participate in key generation.<br>
</div>

<div *ngIf="voted" class="green">
  You voted.<br>
</div>
<div *ngIf="!voted" class="black">
  You did not vote.<br>
</div>

<div *ngIf="decrypted" class="green">
  You participated in decryption.<br>
</div>
<div *ngIf="!decrypted" class="black">
  You did not participate in decryption.<br>
</div>

<h3>Voting Result:</h3>
<div *ngFor="let option of votingOverview.getOptions() let i = index">
  {{option.getOptionName()}}: {{votingResult[i]}}
</div>
