.manageVotingsComponentDiv /deep/ .mat-expansion-panel-header {
    padding-left: 0px !important;
    position: relative;
}

.manageVotingsComponentDiv /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1f407a;
}

.disabled {
    opacity: 0.4;
}

@media screen and (min-width: 500px) {
    .manageVotingsComponentDiv /deep/ .mat-menu-panel {
        max-width: none !important;
        width: 80vw;
    }

    .matExpansionPanel {
        width: 80vw;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .manageVotingsComponentDiv /deep/ .mat-menu-panel {
        max-width: none !important;
        width: 100%;
    }

    .matExpansionPanel {
        width: 100%;
    }
}


